.Modal{
    margin: 0 auto;
    text-align: center;
    padding: 1em 2em;
    background: rgb(245, 242, 228);
    border: 2px solid rgb(202, 202, 202);
    width: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transition: transform 0.6s ease;
    z-index: 150;
}