.BackDrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}

.BackDrop.show {
    opacity: 1;
    visibility: visible;
}