.Toolbar{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 5px 15px;
    align-items: center;
    justify-content: flex-start;
    background-color: #935b12;
    z-index: 50;
    box-shadow: 0 0 10px black;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}
.DesktopOnly{
    display: none
}

@media screen and (min-width: 768px){
    .Toolbar{
        justify-content: space-around;
    }
    .DesktopOnly{
        display: block;
    }
}