.Control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.4em;
}

.Control span{
    margin-right: 4em;
    font-weight: 600;
    width: 80px;
}

.Control button{
    margin: 0 0.4em;
    padding: 0.2em 1em;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

.Control button:disabled{
    background-color: rgb(149, 149, 149);
    color: rgb(49, 49, 49);
    cursor: auto;
}    
.Control .Less{
    background-color: #f8be49;
    color: #0f0a00;
}

.Control .More{
    background-color: #ff6c00;
    color: #fff2d4;
}