.NavigationItem:hover {
    background-color: rgba(63, 81, 181, 0.31);
}

.NavigationItem a.active {
    background-color: rgba(63, 81, 181, 0.31);
    border-bottom: 6px solid rgb(17, 115, 184);
}

.NavigationItem a {
    padding: 1.5em;
    box-sizing: border-box;
    transition: all 0.4s ease;
    cursor: pointer;
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    display: block;
    text-decoration: none;
    color: inherit;
}