.Button {
    margin: 0 1em;
    padding: 0.2em 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #FFC107;
    cursor: pointer;
}

.Button:disabled {
    background-color: #c9c9c9!important;
}

.Button.Positive {
    background-color: rgb(53, 182, 3);
}

.Button.Negative {
    background-color: rgb(158, 0, 0);
}