.SpinnerGrid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.SpinnerGrid .SpinnerCube {
  width: 33%;
  height: 33%;
  background-color: rgb(218, 101, 5);
  float: left;
  -webkit-animation: SpinnerCubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: SpinnerCubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.SpinnerGrid .SpinnerCube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.SpinnerGrid .SpinnerCube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.SpinnerGrid .SpinnerCube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.SpinnerGrid .SpinnerCube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.SpinnerGrid .SpinnerCube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.SpinnerGrid .SpinnerCube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.SpinnerGrid .SpinnerCube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.SpinnerGrid .SpinnerCube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.SpinnerGrid .SpinnerCube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes SpinnerCubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes SpinnerCubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}