.ControlPanel{
    background-color: #f3d7b3;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.OrderButton{
    background-color: #ffbd00;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.OrderButton:disabled{
    background-color: rgb(149, 149, 149);
    color: rgb(49, 49, 49);
    cursor: auto;
}