.Input {
    padding: 10px;
    text-align: left;
    display: flex;
}

.Input * {
    flex-grow: 1;
}

.Input input {
    padding: 5px;
}

.validationError {
    border: 1px solid #f74545;
    background-color: #e88383;
}

.validationError::placeholder {
    color: black;
}