.SideDrawer{
    top: 85px;
    width: 60%;
    background-color: #d1cbcb;
    position: absolute;
    z-index: 49;
    box-shadow: 2px 2px 40px black;
    transition: transform 0.4s ease;
}

@media screen and (min-width: 768px){
    .SideDrawer{
        display: none;
    }
}
